@import "utils.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --standard-spacing: 1rem;
}

body {
  min-height: 100vh;
}

.weather-display,
.weather-location-form {
  --margin-top: calc(var(--standard-spacing) * 2);
}

.weather-display {
  margin-top: var(--margin-top);
}

.weather-location-form {
  max-width: 600px;
  margin: var(--margin-top) auto auto;

  --standard-spacing: 0.75rem;
}

.weather-location-input {
  --preferred-width: 185px;

  flex: var(--preferred-width);
  width: min(var(--preferred-width), 100%);
}

.weather-location-form > button {
  flex: 140px;
}

.forecast {
  grid-auto-flow: column;

  width: 100%;
  overflow-x: auto;
}