@import "utils.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --ocean-blue: #0096c7;

  --primary-color: var(--ocean-blue);

  --standard-spacing: 1rem;
  --standard-border-radius: 0.25rem;
  --standard-box-shadow: 0px 0px 2px 0px rgba(0 0 0 / 0.5);
  --standard-border: 1px solid rgba(0 0 0);
}

body {
  min-height: 100vh;
}

.temperature-scale-toggle {
  margin: var(--standard-spacing);
}

.weather-display,
.weather-location-form {
  --margin-top: calc(var(--standard-spacing) * 2);
}

.weather-display {
  margin-top: var(--margin-top);
}

.weather-location-form {
  max-width: 600px;
  margin: var(--margin-top) auto auto;

  --standard-spacing: 0.75rem;
}

input {
  padding: calc(var(--standard-spacing) / 2);
  
  border-radius: var(--standard-border-radius);
  border: var(--standard-border);
}

.weather-location-input {
  --preferred-width: 185px;

  flex: var(--preferred-width);
  width: min(var(--preferred-width), 100%);
}

.weather-location-form > button {
  flex: 140px;
}

.forecast {
  grid-auto-flow: column;

  width: 100%;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;

  padding-block: var(--standard-spacing);

  scroll-padding-inline-start: var(--standard-spacing);

  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.forecast::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.forecast > * {
  scroll-snap-align: start;
}
