.flex {
  display: flex;
}

.grid {
  display: grid;
}

.display-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.standard-gap {
  gap: var(--standard-spacing);
}

.standard-padding {
  padding: var(--standard-spacing);
}

.standard-inline-padding {
  padding-inline: var(--standard-spacing);
}

.capitalize-text {
  text-transform: capitalize;
}

.center-text {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.list-style-none {
  list-style: none;
}

.button {
  appearance: none;
  padding: calc(var(--standard-spacing) / 2) var(--standard-spacing);
  border-radius: var(--standard-border-radius);
  border: none;
}

.button.primary-button {
  background: var(--primary-color);
  color: var(--white);
}

.button.secondary-button,
.white-background {
  background: var(--white);
  box-shadow: var(--standard-box-shadow);
}
